---
const {
    values,
    type,
    name,
    filterType
} = Astro.props;
---
<li id={name}>
    <p class="filter-group-title">{name}</p>
    {
        values.map((v:unknown) => {
            const classNames = `filter filter--${type}`;
            const id = `${name}-${v}`;
            return <label for={id}>{v}
                <input type={type} data-type={filterType} name={filterType} class={classNames} value={v as string} id={id} />
            </label>
        })
    }
</li>