---
const {
    value, 
    type,
    name,
    id,
    label
} = Astro.props;
const classNames = `filter filter--${type}`
---
<li class={classNames}>
    <input type={type} name={name} id={id || name+'Filter'} value={value} />
    <label for={id || name+'Filter'}>{label}</label>
</li>